/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

a{
    color: $primary-color;
}

.title {
    color: $warn-color;
}

.bn {
    background: $warn-color;
    width: 75px;
    height: 30px;
    outline: none;
    border: 0px;
    color: white;
}